<p>Hello Angular Universal App</p>
<p><a routerLink="/travel" routerLinkActive="active">travel</a></p>
<p><a routerLink="/offers/delhi-ncr" routerLinkActive="active">local</a></p>

<p><a routerLink="/user/purchases" routerLinkActive="active">orders</a></p>

<p><a routerLink="/user/credit" routerLinkActive="active">credits</a></p>

<p><a routerLink="/user/news-letter" routerLinkActive="active">news-letter</a></p>

<p><a routerLink="/user/profile" routerLinkActive="active">profile</a></p>

<p>{{data|json}}</p>
<p><router-outlet></router-outlet></p>
